@theme {
  --color-avocado-100: oklch(0.99 0 0);
  --color-avocado-200: oklch(0.98 0.04 113.22);
  --color-avocado-300: oklch(0.94 0.11 115.03);
  --color-avocado-400: oklch(0.92 0.19 114.08);
  --color-avocado-500: oklch(0.84 0.18 117.33);
  --color-avocado-600: oklch(0.53 0.12 118.34);

  --color-blue-500: #6060d8;
  --color-blue-600: #1b1bc6;

  --color-black: #0c0c0c;

  --color-primary: var(--color-avocado-500);
  --color-secondary: var(--color-black);
  --color-tertiary: var(--color-blue-500);

  --color-background: var(--color-secondary);

  --color-manu: #4d0f51;
}
